.body {
  font-family: "roboto", sans-serif;
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}

/*Heder color logo*/

.color-logo-first {
  color: #2196f3;
}
.color-logo-second {
  color: #000000;
}

.color-logo-first,
.color-logo-second {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

/*Heder color and*/

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.02em;

  color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}
.current {
  color: #2196f3;
}
.heder-tel-link,
.heder-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.02em;

  color: #757575;
}

.heder-tel-link:hover,
.heder-tel-link:focus,
.heder-mail-link:hover,
.heder-mail-link:focus {
  color: #2196f3;
}

.heading-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation-button {
  font-family: "Roboto", sans-sherif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;

  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
}

.navigation-button:hover,
.navigation-button:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.portfolio-signature {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.portfolio-signature-two {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-information {
  background-color: #2f303a;
}

.address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.feedback-mail {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.telephone-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.telephone-link:hover,
.telephone-link:focus {
  color: #2196f3;
}

.feedback-mail:hover,
.feedback-mail:focus {
  color: #2196f3;
}
/*Индекс*/

.button-index {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: #ffffff;
  background: #188ce8;
  border-radius: 4px;
}

.button-index:hover,
.button-index:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.principles {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.principles-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-profile {
}

.profile {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.staff {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.staff-people-work {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
}

.staff-people-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187px;
  letter-spacing: 0.03em;
  color: #757575;
}

.staff-people {
  background-color: #f5f4fa;
}
/*Color logo futter*/

.footer-color-logo-first {
  color: #2196f3;
}
.footer-color-logo-second {
  color: #ffffff;
}

.footer-color-logo-first,
.footer-color-logo-second {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
